################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/Tao.Repository.csproj.user
/bin/Debug/netcoreapp2.1/Tao.Repository.pdb
/bin/Debug/netcoreapp2.1/Tao.Repository.dll
